@media screen and (max-width: 1366px){
    .environment {
        font-size: 12px;
    }
}
@media screen and (min-width: 1367px){
    .environment {
        font-size: 14px;
    }
}
.environment {
    position: relative;
    overflow: hidden;
    border: 1px solid #279bdc;
    border-radius: 8px;
    &:hover {
        //background: rgba(18, 35, 87, 0.9);
        box-shadow: 0 0 10px rgba(108, 235, 252, 0.99);
    }
    .time {
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        color: #6cebfc;
    }
    .cut {
        display: flex;
        justify-content: space-between;
        padding: 0 11px;
        height: 50px;
        .cut-left {
            position: relative;
            width: 20px;
            height: 46px;
            margin-top: 40px;
            text-align: center;
            border: 1px solid #279bdc;
            border-radius: 5px;
            background: radial-gradient(ellipse, rgba(53, 97, 221, 0) 40%, rgba(53, 97, 221, 0.6) 100%);
            font-size: 24px;
            cursor: pointer;
            z-index: 1;
            &::before {
                content: '';
                position: absolute;
                top: 10px;
                right: 5px;
                border: 12px solid rgba(0, 0, 0, 0);
                border-right-color: #6cebfc; 
                border-radius: 4px;
            }
            &::after {
                content: '';
                position: absolute;
                top: 12px;
                right: 4px;
                border: 10px solid rgba(0, 0, 0, 0);
                border-right-color: #051a3b; 
                border-radius: 4px;
            }
        }
        .cut-right {
            position: relative;
            width: 20px;
            height: 46px;
            margin-top: 40px;
            text-align: center;
            border: 1px solid #279bdc;
            border-radius: 5px;
            background: radial-gradient(ellipse, rgba(53, 97, 221, 0) 40%, rgba(53, 97, 221, 0.6) 100%);
            font-size: 24px;
            cursor: pointer;
            z-index: 1;
            &::before {
                content: '';
                position: absolute;
                top: 10px;
                left: 5px;
                border: 12px solid rgba(0, 0, 0, 0);
                border-left-color: #6cebfc; 
                border-radius: 4px;
            }
            &::after {
                content: '';
                position: absolute;
                top: 12px;
                left: 4px;
                border: 10px solid rgba(0, 0, 0, 0);
                border-left-color: #051a3b; 
                border-radius: 4px;
            }
        }
    }
    .item-wrap {
        position: absolute;
        top: 40px;
        left: 45px;
        width: calc(100% - 90px);
        height: calc(100% - 60px);
        overflow: hidden;
        border: 1px solid rgba(255, 255, 255, 0.15);
        .item-list {
            position: absolute;
            width: 100%;
            height: 100%;
            >div {
                position: absolute;
                width: 100%;
                overflow: hidden;
                text-align: center;
                >ul {
                    display: flex;
                    overflow: hidden;
                    >li {
                        display: block;
                        height: 40px;
                        line-height: 40px;
                        width: 12.5%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        border-right-color: rgba(0, 0, 0, 0);
                    }
                    &:nth-child(1) {
                        background-color: rgba(18, 37, 80, 1);
                        >li {
                            &:not(:last-child) {
                                border-right: 1px solid rgba(255, 255, 255, 0.15);
                            }
                            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                            height: 46px;
                            line-height: 46px;
                        }
                    }
                    &:nth-child(2) {
                        >li {
                            &:not(:last-child) {
                                border-right: 1px solid rgba(255, 255, 255, 0.15);
                            }
                            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                        }
                    }
                    &:nth-child(3) {
                        >li {
                            &:not(:last-child) {
                                border-right: 1px solid rgba(255, 255, 255, 0.15);
                            }
                        }
                    }
                    .anomaly {
                        color: #ff2a2a;
                    }
                }
                &:nth-child(1) {
                    left: -100%;
                }
                &:nth-child(2) {
                    left: 0;
                }
                &:nth-child(3) {
                    left: 100%;
                }
            }
        }
        .to-right {
            left: -100%;
        }
        .to-left {
            left: 100%;
        }
    }
}