@font-face {
  font-family: 'iconfont';  /* project id 1205795 */
  src: url('//at.alicdn.com/t/font_1205795_86wgidt3u2u.eot');
  src: url('//at.alicdn.com/t/font_1205795_86wgidt3u2u.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1205795_86wgidt3u2u.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1205795_86wgidt3u2u.woff') format('woff'),
  url('//at.alicdn.com/t/font_1205795_86wgidt3u2u.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1205795_86wgidt3u2u.svg#iconfont') format('svg');
}
.iconfont {
    font-style: normal;
    font-family: 'iconfont';
    user-select: none;
}